<template>
  <transition name="modal">
    <div class="modal-mask">
      <div class="form-wrapper">
        <div class="form-container" @keyup.esc="$emit('close')">
          <div class="form">
            <form
              id="form"
              @submit.prevent="onSubmit"
            >
              <h2>Студент <span v-if="student.name || student.surname">-</span> {{student.name}} {{student.surname}}</h2>
<!--               <label for="id">ID:</label>
              <input type="number" 
                     id="id" 
                     name="id" 
                     placeholder="" 
                     v-model.lazy="student.id">      -->         
              <label for="name">Имя:</label>
              <input type="text" 
                     id="name" 
                     name="name"
                     ref="name"
                     required
                     autofocus
                     minlength="1" 
                     size="10" 
                     placeholder="Иван"
                     @input="validateField('name', regexpName)"
                     @input.once="prompts.name.touched = true"
                     v-model="student.name"
                     v-bind:style="{ 'background-color': promptColor(prompts.name.valid) }">
              <p v-if="prompts.name.valid == false" class="prompt prompt-name">{{prompts.name.text}}</p>
              <label for="surname">Фамилия:</label>
              <input type="text" 
                     id="surname" 
                     name="surname" 
                     minlength="1"
                     size="10" 
                     placeholder="Иванов"
                     required
                     @input="validateField('surname', regexpName)"
                     @input.once="prompts.surname.touched = true"
                     v-model="student.surname"
                     v-bind:style="{ 'background-color': promptColor(prompts.surname.valid) }">
              <p v-if="prompts.surname.valid == false" class="prompt prompt-surname">{{prompts.surname.text}}</p>
              <label for="birthDate">Дата рождения:</label>
              <input type="date" 
                     id="birthDate" 
                     name="birtdate"
                     min="1950-01-01" 
                     max="2018-12-31"
                     required
                     v-model="student.birthDate">
              <label for="group">Группа:</label>
              <input type="text" 
                     id="group" 
                     name="group" 
                     required
                     minlength="1" 
                     size="10" 
                     placeholder="АСП-1-15"
                     v-model="student.group"
                     @input="validateField('group', regexpGroup)"
                     @input.once="prompts.group.touched = true"
                     v-bind:style="{ 'background-color': promptColor(prompts.group.valid) }">
              <p v-if="prompts.group.valid == false" class="prompt prompt-group">{{prompts.group.text}}</p>
              <transition name="fade">
                <span v-if="promptMain" class="propmt prompt-main">Не все поля заполнены корректно!</span>              
              </transition>
              <div class="btn-group">
                <button class="material-button material-button__secondary" @click.prevent="$emit('close')">Отменить</button>
                <button type="submit" v-if="!student.id" class="material-button">Добавить</button>
                <button type="submit" v-else class="material-button" @click.prevent="onEditButton">Изменить</button>
              </div>
              
            </form>
          </div> <!-- class="form" -->
        </div> <!-- class="form-container" -->
        
      </div> <!-- class="form-wrapper" -->

    </div> <!-- class="modal-mask" -->
  </transition>  
</template>


<script>
import { eventBus } from '../main';
export default {
  props: ['student'],
  data () {
    return {
      regexpGroup: /^[a-z\u0400-\u04FF]{2,4}-*\d{1,2}-*\d{2}$/i,
      regexpName: /^[a-zA-Z\u0400-\u04FF]+(([',. -][a-zA-Z\u0400-\u04FF ])?[a-zA-Z\u0400-\u04FF]*)*$/i,
      promptMain: false,
      prompts: {
        name: {
          text: 'Имя не может содержать специальные символы типа !@#..., а также цифры',
          valid: undefined,
          touched: false
        },
        surname: {
          text: 'Фамилия не может содержать специальные символы типа !@#..., а также цифры',
          valid: undefined,
          touched: false
        },
        group: {
          text: 'От 2 до 4 заглавных букв, обозначающих специальность, номер группы и год поступления',
          valid: undefined,
          touched: false
        }
      }
    }
  },
  computed: {
    // проверка валидности формы
    validationPass () {
      return Object.keys(this.prompts).reduce((valid, prop) => {
        return valid = (this.prompts[prop].valid || (this.prompts[prop].touched && this.prompts[prop].valid === undefined)) && valid;
      },true);
    }
  },
  methods: {
    onSubmit (event) {
      if (this.validationPass !== true) {
        this.promptMain = true;
        setTimeout(() => {
          this.promptMain = false;
        },2000)
        return;
      }
      eventBus.$emit('studentAdded', {
        name: this.student.name, 
        surname: this.student.surname, 
        birthDate: this.student.birthDate, 
        group: this.student.group.toUpperCase()
      });
    }, //onSubmit,
    onEditButton (event) {
      if (this.validationPass !== true) {
        this.promptMain = true;
        setTimeout(() => {
          this.promptMain = false;
        },2000)
        return;
      }
      eventBus.$emit('studentEdited', {
        id: this.student.id,
        name: this.student.name, 
        surname: this.student.surname, 
        birthDate: this.student.birthDate, 
        group: this.student.group
      });
    },
    validateField (field, regexp = regexpName) {
      if (regexp.test(this.student[field])) {
        this.prompts[field].valid = true;
      } else {
        this.prompts[field].valid = false;
      }
    },
    promptColor (valid, validColor = '#bbffaa', invalidColor = '#ffcccc') {
      if (valid === undefined) return 'transparent';
      if (valid) return validColor;
      return invalidColor;
    }
  },
  filters: {
    capitalize: function (value) {
      if (!value) return ''
      return value.toUpperCase();
    }
  },
  mounted () {
    this.$refs.name.focus();
    // устанавливаем все поля touched объекта prompts в true, если редактируем студента
    if (this.student.id) {
      Object.keys(this.prompts).forEach(prop => {
        this.prompts[prop].touched = true;
      })   
    }
  }
}
</script>

<style scoped>
  .modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
  }

  .form-wrapper {
    display: table-cell;
    vertical-align: middle;
  }

  .form-container {
    position: relative;
    width: 600px;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    font-family: Helvetica, Arial, sans-serif;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  form input {
    margin-bottom: 1rem;
  }

  .form {
    margin: 0 auto;
    max-width: 600px;
  }

  label {
    text-align: left;
    font-size: 14px;
    padding: 2px 0;
    color: gray;
  }

  input {
    font-size: 18px;
    padding: 4px 2px;
    color:black;
  }

  #group {
    text-transform: uppercase;
  }

  .btn-group {
    display: flex;
    justify-content: flex-end;
  }

  .btn-group button {
    margin-left: 4px;
  }

  .prompt {
    margin: 0;
    margin-top: -0.5rem;
    font-size: 14px;
    font-style: italic;
  }

  .prompt-main {
    position: absolute;
    top: 20px;
    right: 30px;
    color: whitesmoke;
    background-color: salmon;
    padding: 10px;
    border-radius: 6px;
    font-weight: 600;
  }

  /*
  * The following styles are auto-applied to elements with
  * transition="modal" when their visibility is toggled
  * by Vue.js.
  *
  * You can easily play with the modal transition by editing
  * these styles.
  */

  .modal-enter {
    opacity: 0;
  }

  .modal-leave-active {
    opacity: 0;
  }

  .modal-enter .modal-container,
  .modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  .fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
    opacity: 0;
  }

  
</style>

