<template>
<div id="search">
  <label>Поиск по {{ fieldName }}</label>
  <input  type="search" 
          class="" 
          placeholder="Введите фамилию"
          :value="value"
          @input="$emit('input', $event.target.value)">
</div>
</template>

<script>
export default {
  props: {
    value: {
      type: String
    },
    fieldName: {
      type: String
    }
  }
}
</script>

<style scoped>
  #search {
    font-size: 14px;
  }
  label {
    display: block;
    line-height: 13px;
    margin-bottom: 10px;
    cursor: pointer;
    font-weight: 700;
  }
  input {
    padding: 4px 5px 6px;
    width: 100%;
  }
  input:focus {
    border: 2px solid darkblue;
  }
</style>
