<template>
  <div>
    <select :value="value" @input="$emit('input', $event.target.value)">
      <option disabled value="">Выберите один из вариантов</option>
      <option v-for="group in groups" :key = "group">{{group}}</option>
    </select>
  </div>
</template>

<script>
export default {
  props: ['groups', 'value']
}
</script>


<style scoped>
  select {
    font-size: 14px;
    cursor: pointer;
    padding: 4px 5px 6px;
    width: 100%;
  }
  select:focus {
    border: 2px solid darkblue;
  }
</style>

