<template>
  <div class="container">
    <section class="students-filters">
      <h3 class="section-heading">Фильтры</h3>
      <search v-model="searchText" fieldName="фамилии"></search>
      <div class="filter-group">
        <p class="filters-header">Группа</p>
        <select-options v-model="selectedGroup" :groups="['Любая'].concat(uniqueGroups)"></select-options>
      </div>
      <div class="filter-age">
        <p class="filters-header">Возраст</p>
        <div class="input-container">
          <div class="input-item">
            <label for="age-from" class="label">от</label>
            <input id="age-from" class="input" v-model.number="ageFrom">
          </div>
          <div class="input-item">
            <label for="age-to" class="label">до</label>
            <input id="age-to" class="input" v-model.number="ageTo">
          </div>
        </div> <!-- class="input-container" -->
      </div>
      <button class="material-button" @click.stop="onResetFilters">Сбросить</button>
    </section> <!-- class="students-filters" -->
    <div class="students-table" ref="table">
      <table cellspacing="0" cellpadding="0">
        <thead>
          <tr>
            <th>
              <label class="form-checkbox">
              <input type="checkbox" v-model="selectAll" @click="onSelectAll">
              <i class="form-icon"></i>
              </label>
            </th>
            <th>Имя</th>
            <th 
              class="table-header-surname"
              @click="onSortBySurname">Фамилия
              <svg class="sortable" width="24" height="34" viewBox="0 0 24 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="24" height="34" fill="none"/>
                <path class="sortable-up" :class="{ sortable__active: surnameSort == false}" d="M12 1L19.7942 14.5H4.20577L12 1Z" fill="#C4C4C4"/>
                <path class="sortable-down" :class="{ sortable__active: surnameSort == true}" d="M12 33L4.20577 19.5H19.7942L12 33Z" fill="#C4C4C4"/>
              </svg>
            </th>
            <th
              @click="onSortByAge">Возраст
              <svg class="sortable" width="24" height="34" viewBox="0 0 24 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="24" height="34" fill="none"/>
                <path class="sortable-up" :class="{ sortable__active: ageSort == false}" d="M12 1L19.7942 14.5H4.20577L12 1Z" fill="#C4C4C4"/>
                <path class="sortable-down" :class="{ sortable__active: ageSort == true}" d="M12 33L4.20577 19.5H19.7942L12 33Z" fill="#C4C4C4"/>
              </svg>
            </th>
            <th>Группа</th>
            <th></th>
          </tr>
        </thead>
        <transition-group name="fade" tag="tbody">
          <tr v-for="(student, index) in sortedStudents" :key = "student.id" 
              @click.stop="onStudentRowClick(index)"
              :class = "{ 'selected': studentIsSelected(student.id)}">
            <td>
              <label class="form-checkbox">
              <input type="checkbox" :value="student.id" v-model="selectedStudents">
              <i class="form-icon"></i>
              </label>
            </td>
            <td>{{student.name}}</td>
            <td>{{student.surname}}</td>
            <td>{{getAge(student.birthDate)}}</td>
            <td>{{student.group}}</td>
            <td>
              <button 
                class="material-button material-button__secondary"
                @click.stop="editStudent(index)"
                :class = "{ 'selected': studentIsSelected(student.id)}">Изменить</button>
            </td>
          </tr>          
        </transition-group>
      </table>
      <div class="delete-selected__container">
        <span>Удалить выбранных студентов:</span><button class="material-button" @click="deleteSelected">Удалить</button>
      </div>
    </div> <!-- class="container-table" -->
  </div> <!-- class="container" -->
</template>

<script>

import { eventBus } from "../main";
import Search from './Search.vue';
import SelectOptions from './SelectOptions.vue'
import userAPI from '../services/api/users.js'
let id; // unique key for students
export default {
  components: {
    'search': Search,
    'select-options': SelectOptions
  },
  data: function() {
    return {
      searchText: '',
      selectedStudents: [],
      selectedGroup: 'Любая',
      selectAll: false,
      surnameSort: undefined,
      ageSort: undefined,
      ageFrom: 0,
      ageTo: 99,
      students: []
    };
  },
  computed: {
    uniqueGroups () {
      return [...new Set(this.students.map(student => student.group))];
    },
    sortedStudents() {
      let students = this.students;
      students = this.filterByAge(students);
      students = this.filterByGroup(students);
      if (typeof this.ageSort !== 'undefined') {
        students = this.sortByAge(this.ageSort);
      }
      if (typeof this.surnameSort !== 'undefined') {
        students = this.sortBySurname(this.surnameSort);
      }
      if (this.searchText.length > 0 ) {
        let vm = this;
        return students.filter(student => {
          return student.surname.toLowerCase().indexOf(vm.searchText.toLowerCase()) !== -1;
        })
      }      
      return students;
    }
  },
  methods: {
    onResetFilters () {
      this.searchText = '';
      this.selectedGroup = 'Любая';
      this.ageFrom = 0;
      this.ageTo = 99;
    },
    filterByAge(students) {
      return students.filter(student => {
        const age = this.getAge(student.birthDate);
        // проверяем случаи, если возраст undefined или пустая строка
        const ageFrom = this.ageFrom ? this.ageFrom : 0;
        const ageTo = this.ageTo ? this.ageTo: 200;
        return ((age >= ageFrom) && (age <= ageTo));
        
      });
    },
    filterByGroup(students) {
      if (this.selectedGroup === 'Любая') {
        return students;
      }
      return students.filter(student => student.group === this.selectedGroup);
    },
    onSelectAll() {
			this.selectedStudents = [];
			if (!this.selectAll) {
        this.sortedStudents.forEach((student) => {
          this.selectedStudents.push(student.id);
        })
			}
		},
    sortBySurname(sortType) {
      if (sortType) {
        return this.students.sort((a, b) => a.surname.localeCompare(b.surname));
      }
      return this.students.sort((a, b) => b.surname.localeCompare(a.surname));
    },
    sortByAge(sortType) {
      if (sortType) {
        return this.students.sort(
          (a, b) => this.getAge(a.birthDate) - this.getAge(b.birthDate)
        );
      }
      return this.students.sort(
          (a, b) => this.getAge(b.birthDate) - this.getAge(a.birthDate)
      );
    },
    onSortBySurname() {
      if (typeof this.surnameSort === 'undefined') {
        this.surnameSort = true
      } else {
        this.surnameSort = !this.surnameSort;
      }
      this.ageSort = undefined;
    },
    onSortByAge() {
      if (typeof this.ageSort === 'undefined') {
        this.ageSort = true
      } else {
        this.ageSort = !this.ageSort;
      }
      this.surnameSort = undefined;
    },
    deleteSelected() {
      let vm = this;
      this.students = this.students.filter(function(student) {
        return !vm.selectedStudents.includes(student.id);
      });
      localStorage.setItem('students', JSON.stringify(this.students));
      this.selectedStudents = [];
      this.selectAll = false;
    },
    onStudentRowClick(index) {
      let id = this.sortedStudents[index].id;
      const selectedIndex = this.selectedStudents.indexOf(id);
      if (selectedIndex === -1) {
        this.selectedStudents.push(this.sortedStudents[index].id);
      } else {
        this.selectedStudents.splice(selectedIndex, 1);
      }
      this.$refs.table.focus();
    },
    editStudent(index) {
      eventBus.$emit("editStudent", {
        id: this.students[index].id,
        name: this.students[index].name,
        surname: this.students[index].surname,
        birthDate: this.students[index].birthDate,
        group: this.students[index].group
      });
    },
    getAge(birthDate) {
      const millis = Date.now() - Date.parse(birthDate);
      return new Date(millis).getFullYear() - 1970;
    },
    studentIsSelected(id) {
      return this.selectedStudents.indexOf(id) !== -1 ? true : false;
    },
    addRandomStudent() {
      let randomDate = Math.round(Math.random() * (2002 - 1950) + 1950) + '-01-01';
      let randomGroupYear = Math.round(Math.random() * (19 - 12) + 12);
      let userb;
      userAPI.getUser()
        .then(user => {
          this.students.push({
            id: id++,
            name: this.capitalize(user.first),
            surname: this.capitalize(user.last),
            birthDate: randomDate,
            group: 'ТЕСТ-1-' + randomGroupYear
          });
          localStorage.setItem('students', JSON.stringify(this.students));
        })
    },
    capitalize (value) {
      if (!value) return '';
      value = value.toString();
      return value.charAt(0).toUpperCase() + value.slice(1);
    }
  },
  watch: {
    // убираем select с элементов, которые не отображаются после применения фильтров
    sortedStudents () {
      this.selectedStudents = this.selectedStudents.filter(id => {
        return this.sortedStudents.map(student => student.id).includes(id);
      });
    }
  },
  created() {
    eventBus.$on("studentAdded", student => {
      this.students.push({
        id: id++,
        name: student.name,
        surname: student.surname,
        birthDate: student.birthDate,
        group: student.group
      });
      localStorage.setItem('students', JSON.stringify(this.students));
    });
    eventBus.$on("randomStudentAdded", () => {
      this.addRandomStudent();
    });
    eventBus.$on("studentEdited", student => {
      let i = this.students.findIndex(e => {
        return e.id == student.id;
      });
      Object.assign(this.students[i], student);
      localStorage.setItem('students', JSON.stringify(this.students));
    });
    eventBus.$on("deletePressed", () => {
      this.deleteSelected();
    });
    // подгружаем студентов из localStorage, если они есть
    if (localStorage.getItem('students') === null) {
      this.students = [];
      id = 0;
    } else {
      this.students = JSON.parse(localStorage.getItem('students'));
      id = Math.max.apply(null, this.students.map(e => e.id)) + 1;
    }
  }
};
</script>

<style scoped>
  .container {
    min-width: 500px;
    width: 100%;
    display: flex;
  }

  .students-table {
    flex: auto 1 0;
    min-width: 568px;
  }

  search-options {
    flex: 50% 1 0;
  }

  .filter-group {
    flex: 50% 1 0;
  }

  .students-filters {
    margin: 1.2em 0.8em;
    max-width: 300px;
  }

  .section-heading {
    margin-top: 0;
  }

  table {
    width: 100%;
    text-align: left;
    color:darkblue;
    border: none;
    margin: 1em 1em;
  }
  tr:nth-child(even) {
    background: #f0f0f0;
  }
  tr:nth-child(odd) {
    background: #ffffff;
  } 

  tr.selected {
    background: darkblue;
    color: white;
  }

  button.selected {
    border-color: white;
    color: white;
  }

  tr.selected:hover {
    background: darkcyan;
    color: white;
  }

  table td, table th {
    padding: .6rem .4rem;
    position: relative;
  }
  
  table thead th:nth-child(3):hover, table thead th:nth-child(4):hover {
    background-color: #f3f3f3;
  }

  table tr:hover, table tr:focus {
    background-color: lightyellow;
  }

  .sortable {
    position: absolute;
    right: 0.2em;
    top: 2px;
    transform: scale(0.6);
  }

  .sortable__active {
    fill: #707070;
  }

  .filter-age {
    margin-bottom: 1em;
  }

  .filters-header {
    display: block;
    font-size: 14px;
    line-height: 13px;
    margin-bottom: 10px;
    cursor: pointer;
    font-weight: 700;
  }

  .input-container {
    display: flex;
    margin-bottom: 7px;
    width: 100%;
  }
  .input-item:first-child {
    padding-right: 4px;
    padding-left: 0;
  }
  .input-item {
    flex: 0 0 50%;
    align-items: baseline;
    box-sizing: border-box;
    display: flex;
  }
  .input-item label {
    font-size: 14px;
    padding: 0 3px 0 0;
    color: #999;
    flex: 0 0 auto;
    margin: 0;
  }

  .input-item input {
    font-style: normal;
    text-decoration: none;
    text-transform: none;
    letter-spacing: normal;
    word-spacing: normal;
    width: 100%;
    max-width: calc(100% - 18px);
    flex: 1 1 auto;
    font-size: 14px;
    padding: 4px 5px 6px;
    outline: 2px solid transparent;
    border: 1px solid #c5c5c5;
    border-radius: 2px;
    background: #fff;
    height: 27px;
    box-sizing: border-box;
    box-shadow: none;
    /* cursor: pointer; */
  }

  .input-item input:focus {
    border: 2px solid darkblue;
  }

  .delete-selected__container {
    margin: 1em 1em;
  }

  .delete-selected__container span {
    margin-right: 1em;
  }

  @media screen and (max-width: 1199px) {
    .container {
      flex-wrap: wrap;
    }
  }

  .fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
    opacity: 0;
  }

</style>

