<template>
  <div id="app" @keyup.delete="deletePressed">
    <header>
      <div class="logo-container">
        <svg version="1.1" id="capa" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          width="31.991px" height="31.992px" viewBox="0 0 31.991 31.992" style="enable-background:new 0 0 31.991 31.992;"
          xml:space="preserve">
          <g>
            <g fill="white">
              <path d="M6.952,17.189v5.014c0,0,4.808-2.003,9.071-2.003c4.263,0,9.072,2.003,9.072,2.003v-5.084c0,0-4.587-2.426-9.143-2.426
                C11.398,14.691,6.952,17.189,6.952,17.189z"/>
              <path d="M30.188,15.995l1.804-0.97l-1.804-0.999v-0.474c0,0,0.508-2.576-2.379-1.229c-0.147,0.08-0.226,0.161-0.258,0.24
                L15.645,5.96L0,14.914l5.908,2.684v-0.871c0,0,4.957-2.783,10.038-2.783c5.08,0,10.193,2.705,10.193,2.705v1.521l3.262-1.752
                c0,2.029,0,6.369,0,7.093h-1.086v2.521l1.444-0.998l1.603,0.998V23.51h-1.174V15.995L30.188,15.995z M29.4,13.114
                c0,0.061,0,0.229,0,0.475l-0.952-0.528C28.795,12.831,29.4,12.512,29.4,13.114z M29.078,15.896c-0.421,0-0.764-0.341-0.764-0.762
                s0.343-0.763,0.764-0.763c0.422,0,0.763,0.342,0.763,0.763S29.5,15.896,29.078,15.896z"/>
            </g>
          </g>
        </svg>
        <h1>{{ appName }}</h1>
      </div> 
    </header>
    <div class="main">
      <div class="add-student-container">
        <p>Добавить студента: </p>
        <button class="material-button" @click="showModal = true">Добавить</button>
        <button class="material-button material-button__secondary" style="margin-left: 4px;" @click.stop="onRandomStudentAdd()">Добавить случайного</button>
      </div>
      <hr>
      <students-list ref="studentsList"></students-list>
    </div>

    <modal v-if="showModal" @close="closeModal" :student="student">
    </modal>
  </div>
</template>

<script>

import Modal from './Components/Modal.vue';
import StudentsList from './Components/StudentsList.vue';
import { eventBus } from './main';
export default {
  name: 'app',
  components: {
    'modal': Modal,
    'students-list': StudentsList
  },
  data () {
    return {
      appName: 'Приложение по учёту студентов',
      showModal: false,
      student: {}
    }
  },
  methods: {
    closeModal () {
      this.showModal = false;
      this.student = {}
    },
    deletePressed () {
      eventBus.$emit('deletePressed');
    },
    onRandomStudentAdd () {
      eventBus.$emit('randomStudentAdded');
    }
  },
  created: function () {
    eventBus.$on('studentAdded', (student) => {
      this.showModal = false;
      this.student = {}
    });
    eventBus.$on('studentEdited', (student) => {
      this.showModal = false;
      this.student = {}
    });
    eventBus.$on('editStudent', (student) => {
      this.student = student;
      this.showModal = true;
    });
  },
  mounted: function () {
    let vm = this;
    document.body.addEventListener('keyup', function (event) {
      if (event.keyCode == 46) { // delete keyboard button
        vm.deletePressed();
      }
    })
  }
}
</script>

<style lang="scss">
@import './assets/css/styles.css';

header {
  background-color: darkblue;
  color: whitesmoke;
}

#capa {
  padding: 0px;
  margin: 0 1em;
  width: calc(24px + 2vw);
  height: calc(24px + 2vw);
}

.main {
  margin: 60px 10%;
}

h1, h2 {
  font-weight: normal;
  text-transform: uppercase;
}

h1 {
  font-size: calc(1em + 1vw);
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 60px;
    height: 60px;
    padding: 6px 12px 0px 0px;
  }
}

.add-student-container {
  align-self: flex-start;
  display: flex;
  align-items: center;
  margin: 1em 14px;
  p {
    font-size: 18px;
    font-weight: 500;
  }
}

.add-student-container p {
  margin-right: 1em;
}

hr {
  width: 100%;
  height: 4px;
  background-color: darkblue;
  border: none;
  margin: 0 14px;
}



</style>
